<div class='postTitle'>
  <%= @post_show.title %>
</div>
<div class='postDate'>
  <%= @post_show.created_at %>
</div>
<div class='postAuthor'>
</div>
<div class='postManage'>
  <%= link_to '編集', edit_post_path(@post_show.id), class: "postManage__edit", method: :get %>
  <%= link_to '削除', post_path(@post_show.id), class: "postManage__delete", method: :delete %>
</div>
<div class= 'postText'>
  <%= simple_format @post_show.content %>
</div>
